.mid-banner {
    display: flex;
    gap: 1.125rem;
    justify-content: center;
    padding: 2.5rem 0;
}

.mid-banner a {
    display: flex;
}

.mid-banner img {
    width: 100%;
}

@media screen and (max-width: 48rem) {
    .mid-banner {
        flex-direction: column;
    }
}