.shelf-products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 17px;
}

.shelf-title {
    padding: 40px 0;
}
.shelf-title h2{
    font-size: 1.5rem;
    font-weight: 600;
    color: #333333;
    text-align: center;
}

.shelf-destaques{
    margin-bottom: 8.125rem!important;
}