.shelf-products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 17px;
    
    margin: 0 auto;
    max-width: 73.125rem;
}

.shelf-title {
    padding: 40px 0;
}
.shelf-title h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333333;
    text-align: center;
}