.categories-row{
    background-color: #ffa200;
    margin: 0 auto;
}

.categories-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    max-width: 1170px;
    padding: 1.125rem .625rem;
    margin: 0 auto;
    gap: 1.06rem;
}
.categories-container img{
    width: 100%;
}

@media screen and (max-width: 48rem){
    .categories-container{
   flex-direction: column;
    }
}